[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Gaia Sandbox
Comment=Gaia Sandbox 3D astronomy software developed in the Astronomisches Rechen-Institut (Heidelberg)
Exec=gaiasandbox
Icon=/opt/GaiaSandbox/ic_launcher.svg
Terminal=false
Categories=Science;Education;