canvas {
    cursor: default;
    outline: none;
}

html, body{
	height: 99%;
}

body {
    background-color: #000000;
    color: #aaa;
    font-family: sans-serif;
    font-variant: small-caps;
}

a{
	color: #999;
}

a:hover{
	color: yellow;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -15px;
	background-color: #000;
}

div#embed-html{
	width: 1024px;
	float: left;
}

div#controls{
	margin-top: 5px;
}

div#title{
	width: 1024px;
    text-align: center;
    font-size: xx-large;
}

div#subtitle{
	text-align: center;
    width: 1024px;
    font-size: 12px;
}

div#disclaimer{
    width: 1000px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #444;
    border-style: dashed;
    font-variant: normal;
    font-size: 11px;
    color: #777;
}

div#credits{
	height: 15px;
	position: relative;
	text-align: center;
    width: 1024px;
    font-size: small;
}

a#hide-console{
	
}

a#hide-console:hover{
	color: yellow;
}

.link-tab{
	margin-left: 10px;
	margin-right: 10px;
}

a.link{
    text-decoration: none;
}

div#wikip-info{
	margin-left: 1040px;
    height: 810px;
}

iframe#wikip-info-ifr{
	width: 100%;
	height: 100%;
	border: none;
}

.gwt-TextArea{
	background-color: #000;
	display: none;
	font-family: monospace;
    font-size: smaller;
    border: 1px solid #555;
}

.gwt-TextArea-readonly{
	color: #999;
}

.superdev {
    color: rgb(37,37,37);
    text-shadow: 0px 1px 1px rgba(250,250,250,0.1);
    font-size: 50pt;
    display: block;
    position: relative;
    text-decoration: none;
    background-color: rgb(83,87,93);
    box-shadow: 0px 3px 0px 0px rgb(34,34,34),
                0px 7px 10px 0px rgb(17,17,17),
                inset 0px 1px 1px 0px rgba(250, 250, 250, .2),
                inset 0px -12px 35px 0px rgba(0, 0, 0, .5);
    width: 70px;
    height: 70px;
    border: 0;
    border-radius: 35px;
    text-align: center;
    line-height: 68px;
}

.superdev:active {
    box-shadow: 0px 0px 0px 0px rgb(34,34,34),
                0px 3px 7px 0px rgb(17,17,17),
                inset 0px 1px 1px 0px rgba(250, 250, 250, .2),
                inset 0px -10px 35px 5px rgba(0, 0, 0, .5);
    background-color: rgb(83,87,93);
    top: 3px;
    color: #fff;
    text-shadow: 0px 0px 3px rgb(250,250,250);
}

.superdev:hover {
    background-color: rgb(100,100,100);
}
